{% extends 'index.html' %}

{% block content %}
    <div class="top-content" style="margin-left:10px; ">
        <h2>{{account_name}}</h2>
        <hr>
    </div>

    <div class="container">
        <div class="row">  
           {% for graph in graphs %} 
          <div class="col" >
            <div 
            style="max-width:500px; max-height: 600px; 
      
            border-radius: 20px;
            margin-bottom: 20px;
            box-shadow: 5px 5px 8px rgb(208, 208, 241);">
                {{graph|safe}}
            </div> 
          </div>
          {% endfor %}
          <br>

        </div>
      </div>
    </div>


    {%endblock %}
    

