{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
  <link rel="stylesheet" href="{% static 'style/index.css' %}" />
  <link rel="shortcut icon" href="{% static 'image/smartysync-favicon.png' %}" type="image/x-icon">
</head>
<body class="contact-page">
    <section class="contact-section" style="background-image: url('{% static 'image/contact-bg.jpg' %}');">
        <div class="contact-container">
            
            <div class="contact-content">
                <h1 class="contact-title">Contact Us</h1>
                <p>Please write any questions or suggestions you have in the text area!</p>
                <form action="{% url 'contact_us' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="phone" placeholder="Phone number"><br>
                    <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea><br>
                    <button type="submit">Submit</button>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="submit-popup">
                        <div class="popup-messgae">
                            <p style="color: #009900;"><b>{{message.tags}}!</b> {{message}}!</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
</body>
</html>