{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- spin js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <link rel="stylesheet" href="{% static 'style/table.css' %}">
    <link rel="stylesheet" href="{% static 'style/index.css' %}">
    <link rel="shortcut icon" href="{% static 'image/smartysync-favicon.png' %}" type="image/x-icon">
</head>

<body>

    <header id="header">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#">Facebook Sentiment Analysis</a>
            <button class="sidebar-toggler" type="button">
                <svg fill="#ffffff" width="20px" height="20px" viewBox="0 0 32 32" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <title>bars</title>
                    <path
                        d="M2 9.249h28c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0h-28c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0zM30 14.75h-28c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h28c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0zM30 22.75h-28c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h28c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0z"></path>
                </svg>
            </button>
        </nav>
    </header>

    
    <div id="loaderContainer" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999;">
        <div id="loader" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><p style="padding-top: 149px;">Please Wait...</p></div>
        
    </div>
    <!-- Sidebar Navigation -->
    <div class="container-fluid">
        <div class="row">
            <aside id="sidebar">
                <ul>
                    {% if adaccount_is_set %}
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle {% block adaccount_active %}{% endblock adaccount_active %}" data-toggle="collapse" href="#adAccountsDropdown"
                            aria-expanded="false">
                            <i class="fas fa-ad"></i>
                            Ad Accounts
                        </a>
                        <ul id="adAccountsDropdown" class="collapse list-unstyled">
                            {% for a in adaccounts %}
                            <li><a class="nav-link" href="{% url 'negative_report' a.id  %}" >

                                    {{a.ad_account_name}}
                                </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'set-accountad'  %}">
                            <i class="fas fa-ad"></i>
                            Save Ad Accounts
                        </a>
                    </li>
                    {%endif%}
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'account-list' %}" >
                            <i class="fab fa-facebook"></i>
                            Facebook Pages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block adspend_active %}{% endblock adspend_active %}" href="{% url 'ad_spend'  %}">
                            <i class="fa fa-dollar-sign"></i>
                            Ad Spend
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " href="{% url 'contact_us' %}" >
                            <i class="fa fa-address-book"></i>
                            Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'  %}">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout
                        </a>
                    </li>
                    <li class="nav-item mt-auto">
                        <hr class="sidebar-divider">
                    </li>
                    <!-- Refresh button -->
                    <li class="nav-item ">
                        <a class="nav-link hideCommentBtn" href="{% url 'refresh' %}">
                            <i class="fas fa-sync-alt"></i>
                            Refresh
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link btn-danger " style="border: 0.3px solid red;" href="{% url 'switch-youtube' %}" >
                            <i class="fab fa-youtube"></i>
                            Youtube
                        </a>
                    </li>
                    <!-- Add more elements here as needed -->
                </ul>
            </aside>
            <main id="main-content">
                <div class="message-container">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message.tags}}!</strong> {{message|safe}}
                    </div>
                    {% else %}
                    <div class="alert alert-primary alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{message.tags}}!</strong> {{message|safe}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                
                <!-- report table for all the ad accounts -->

                <div class="inner-content">
                    {% block content %}

                    {%endblock content %}
                </div>
                
            </main>
        </div>
    </div>

    <script>
        // Function to toggle the sidebar

    </script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.ad-checkbox').change(function () {
            var isChecked = $(this).prop('checked');
            var rowId = $(this).data('ad-id');
            // Make AJAX request to your Django view
            $.ajax({
                url: '/ad_spend/track/',
                method: 'POST',
                data: {
                    'ad_id': rowId,
                    'is_checked': isChecked,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    // Handle success if needed
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/index.js' %}"></script>

    <!-- page loader script -->
<script src="{% static 'js/spin.js' %}"></script>

<script>
  $(document).ready(function() {
    $(".page-loader").hide();
});
</script><!-- page loader script -->
<script src="{% static 'js/spin.js' %}"></script>

<script>
  $(document).ready(function() {
    $(".page-loader").hide();
});
</script>
</body>

</html>