{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %} {%block dropdown %}{%endblock%}
{% block content %}
<style>
    .landing-section{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 72px);
        width: 100%;
        background: rgba(0, 0, 0, 0.342) url('{% static "image/contact-bg.jpg" %}') no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }
    .landing-content{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        background-color: #ffffff4f !important;
        backdrop-filter: blur(5px);
        width: 100%;
        max-width: 600px;
        min-height: 40px;
        padding-top: 50px;
        padding-bottom: 70px;
        border-radius: 70px;
    }
    .landing-section h1{
        color: white;
        font-size: 60px;
    }
    .message-container .alert-info {
        border-top: 3px solid #7005055e;
        border-bottom: 3px solid #7005055e;
        display: inline-block;
        text-align: center;
        background-color: transparent;
        border-left: none;
        border-right: none;
        margin-top: 10px;
        padding-right: 20px;
    }
    .message-container .alert-info strong{
        margin-right: 5px;
    }

    @media (max-width: 575px){
        .landing-section h1{
            font-size: 40px;
        }
    }
</style>
<section class="authentication">
    {% if user.is_authenticated %}
    <p>Welcome. You are logged in as {{user.username}} </p>
    {% else %}
    {% if messages %}
    <ul class="messages" style="list-style: none;">
      {% for message in messages %}
          {% if message.extra_tags == "warning" %}
          <strong><li class="alert alert-danger"><center>{{ message }}</center></li></strong>  
          {% endif %}
        {% endfor %}
    </ul>
  {% endif %}
  {% block login_form %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-transparent" style="width: 300px; margin-left: -50px;">
          <div class="card-header bg-transparent">
            Login
          </div>
          <div class="card-body bg-transparent">
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="email" class="text-light">Email address</label> -->
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <!-- <label for="password" class="text-light">Password</label> -->
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>Need an account? <a href="{% url 'signup' %}" style="color: blue;">Signup</a></p>

  {% endblock %}
    <div class="container">
        <div class="text-center mx-auto my-2">
                <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-primary btn-lg mb-2 px-4">Login with Facebook</a>
        </div>
        <div class="text-center mx-auto my-2">
            <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-lg mb-2 px-4" style="background-color: rgb(170, 15, 15);">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25 " viewBox="0 0 48 48">
                <path fill="#fbc02d" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12	s5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24s8.955,20,20,20	s20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#e53935" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039	l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4caf50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36	c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1565c0" d="M43.611,20.083L43.595,20L42,20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571	c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                </svg>
                <span style="padding-bottom: 10px;">Login with Google</span></a>
        </div>
    </div> 
    <div class="container">
        
    </div> 
    {% endif %}
    
</div>
</section>
{% endblock %}