{% extends 'base.html' %}

{% block title %} Please choose an AD {% endblock %}
{% block content %}

    <h3>{{campaign_name}}</h3>

    <div class="account-box adset-box">
        {% for a in adsets %}
        <div class="box">
            <p><a href="{% url 'sentiment-graph' a.id %}" class="account-name">
                {{a.name}} <span style="padding-left:10px; font-size:medium; color:rgb(0, 0, 0);">[{{a.ad_count}}]</span></a></p>
            
        </div> 
        {% endfor %} 
    </div>
{% endblock %}
