{% extends 'base.html' %}
{% load static %}


{% block title %} Please choose an AD {% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Loader container -->
<div id="loaderContainer" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999;">
    <div id="loader" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><p style="padding-top: 149px;">Please wait...</p></div>
    
  </div>
  

    <h3>{{campaign_name}}</h3>

    <div class="add-account-container">
        <div class="account-box">
            <div class="accounts-list adset-box">
                {% for a in adsets %}
                <div class="box">
                    <p><a href="{% url 'sentiment-graph' a.id %}" class="account-name hideCommentBtn">
                        {{a.name}} <span style="padding-left:10px; font-size:medium; color:rgb(0, 0, 0);">[{{a.ad_count}}]</span></a></p>
                    
                </div> 
                {% endfor %} 
            </div>
        </div>
        <div class="account-img">
            <img src="{% static 'image/please-add-account.png' %}" alt="Please add account">
        </div>
    </div>

<!-- page loader script -->
<script src="{% static 'js/spin.js' %}"></script>

<script>
  $(document).ready(function() {
    $(".page-loader").hide();
});
</script>
{% endblock %}
