{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  strong {
    font-size: 14px;
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="top-content" style="margin-left:10px; ">
  <h2>{{adset_name}}</h2>
  <hr>
</div>
<div class="page-loader">
  <div class="loading">
    <svg xmlns="http://www.w3.org/2000/svg" width="200px" height="200px" viewBox="0 0 16 16" fill="none" class="hds-flight-icon--animation-loading">
      <g fill="#000000" fill-rule="evenodd" clip-rule="evenodd">
      <path d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z" opacity=".2"/>
      <path d="M7.25.75A.75.75 0 018 0a8 8 0 018 8 .75.75 0 01-1.5 0A6.5 6.5 0 008 1.5a.75.75 0 01-.75-.75z"/>
      </g>
      </svg>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    {% if no_comments %}
    <div class="comments-container">
      <h2>We couldn't find any comments in this Ad Group! &#x1F611;</h2>
      <p>We tried to get comments for any ads you have been running 
        on this ad group, but we couldn't find any. We will inform you as soon as there 
        is a comment on this Ad Group.
      </p>
    </div>
      {%endif%}

    {% for c in graph_container %}
    <div class="col-lg-6 col-12">
      <!-- {{c.Comments}} -->
      

      <div class="graph-container">
        <div class="graph-btns">
            <a class="btn btn-prinamry graph-btn border-right active" onclick="showGraph(1, '{{c.adname}}')">Graph<a> 
            <!-- <a class="btn btn-prinamry picture-btn" onclick="showGraph(2, '{{c.adname}}')">Picture</a> -->
          </div>
            <div id="graph1 {{c.adname}}" class="graph-chart py-3">
              {{c.Graph|safe}}
            </div>
            <div id="graph2 {{c.adname}}" class="hide-graph">
              <img
                src="https://scontent.fpnq9-1.fna.fbcdn.net/v/t39.30808-6/313112381_199436665782083_7965339444834071481_n.jpg?stp=dst-jpg_p720x720&_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_ohc=rTVnDAolGaoAX8xhd9O&_nc_ht=scontent.fpnq9-1.fna&edm=AJfPMC4EAAAA&oh=00_AfA3PcwRJNNl3hRfy9nSx_G1xDsxy9taGqnnpbVweoE-Cw&oe=645E2A21"
                alt="No image available" class="graph-img">
            </div>
      </div>
    </div>
    <hr>

    <div class="col-lg-6 col-12">
      <div class="comment-container graph-comment-box">
      <div class="graph-tabs-btns align-items-center btn-group mb-3">
        <button class="btn px-4 py-2 btn-warning" onclick="showDiv(1, '{{c.adname}}')">Negative</button>
        <button class="btn px-4 py-2 btn-success btn-graph" onclick="showDiv(2, '{{c.adname}}')">Positive</button>
        <button class="btn px-4 py-2 theme-btn mb-0" onclick="showDiv(3, '{{c.adname}}')">Neutral</button>
        <div class="graph-info">
          <button class="px-2 graph-info-button pt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12ZM10.25 11C10.25 10.4477 10.6977 10 11.25 10H12.75C13.3023 10 13.75 10.4477 13.75 11V18C13.75 18.5523 13.3023 19 12.75 19H11.25C10.6977 19 10.25 18.5523 10.25 18V11ZM14 7C14 5.89543 13.1046 5 12 5C10.8954 5 10 5.89543 10 7C10 8.10457 10.8954 9 12 9C13.1046 9 14 8.10457 14 7Z" fill="#5a9ef4"/>
              </svg>
          </button>
          <div class="graph-info-message">
            <p>Sentiment analysis of first 100 comments using pre-trained Deep Learning AI models.</p>
          </div>
        </div>
      </div>
      <div id="div1 {{c.adname}}">
        <h5 style="padding-bottom:0; margin-bottom:0;">Negative Comments</h5>
        <hr>
        <ul id="dataList1{{c.adname}}" class="graph-list">
          {% for comment in c.Comments %}
          {% if comment.negative_message %}
          <!-- leaving the margin and padding to be 0 -->
          <li class="hidden">
            {% if comment.is_hidden %}
            <p>{{comment.negative_message|safe|truncatechars:35}} <span><strong>{{comment.created_time}}</strong></span></p>
            <strong><i class="text-success">This comment is hidden</i></strong>
            <a href="{% url 'unhide-comment' adset_id comment.id %}" class="btn btn-warning">
              Unhide
            </a>
            {%else %}
            <p>{{comment.negative_message|safe|truncatechars:45}} <span><strong>{{comment.created_time}}</strong></span></p>
            <a href="{% url 'hide-comment' adset_id comment.id %}" class="btn btn-sm btn-primary">
              Hide
            </a>
            {%endif%}
            <!-- <a href="{% url 'hide-comment' adset_id %}" class="btn btn-danger" style="margin:auto; float:right;  right:0;">return back</a></li> -->
            <hr>

            {% endif %}

          </li>
          {% endfor %}
        </ul>
        <a onclick="showMoreList(1,'{{c.adname}}')" class="view-more-btn my-2">View more...</a>
      </div>

      <div id="div2 {{c.adname}}" class="hide">
        <h5 style="padding-bottom:0; margin-bottom:0;">Postive Comments</h5>
        <hr>


        <ul id="dataList2{{c.adname}}" class="graph-list">
          {% for comment in c.Comments %}
          {% if comment.positive_message %}
          <!-- leaving the margin and padding to be 0 -->
          <li class="hidden">
            {% if comment.is_hidden %}
            <p>{{comment.positive_message|safe|truncatechars:35}} <span><strong>{{comment.created_time}}</strong></span></p>
            <strong style="color:rgb(4, 93, 4);"><i class="text-success">This comment is hidden</i></strong>
            <a href="{% url 'unhide-comment' adset_id comment.id %}" class="btn btn-warning">
              Unhide<span><strong>{{comment.created_time}}</strong></span>
            </a>
            {%else %}
            <p>{{comment.positive_message|safe|truncatechars:45}} <span><strong>{{comment.created_time}}</strong></span></p>
            <a href="{% url 'hide-comment' adset_id comment.id %}" class="btn btn-sm btn-primary">
              Hide
            </a>
            {%endif%}
            <!-- <a href="{% url 'hide-comment' adset_id %}" class="btn btn-danger" style="margin:auto; float:right;  right:0;">return back</a></li> -->
            <hr>

            {% endif %}

          </li>
          {% endfor %}
        </ul>
        <a onclick="showMoreList(2,'{{c.adname}}')" class="view-more-btn my-2">View more...</a>
      </div>
      <div id="div3 {{c.adname}}" class="hide">
        <h5 style="padding-bottom:0; margin-bottom:0;">Neutral Comments</h5>
        <hr>

        <ul id="dataList3{{c.adname}}" class="graph-list">
          {% for comment in c.Comments %}
          {% if comment.neutral_message %}
          <!-- leaving the margin and padding to be 0 -->
          <li class="hidden">
            {% if comment.is_hidden %}
            <p>{{comment.neutral_message|safe|truncatechars:35}} <span><strong>{{comment.created_time}}</strong></span></p>
            <strong style="color:rgb(4, 93, 4);"><i class="text-success">This comment is hidden</i></strong>
            <a href="{% url 'unhide-comment' adset_id comment.id %}" class="btn btn-warning">
              Unhide
            </a>
            {%else %}
            <p>{{comment.neutral_message|safe|truncatechars:45}} <span><strong>{{comment.created_time}}</strong></span></p>
            <a href="{% url 'hide-comment' adset_id comment.id %}" class="btn btn-sm btn-primary">
              Hide
            </a>
            {%endif%}
            <!-- <a href="{% url 'hide-comment' adset_id %}" class="btn btn-danger" style="margin:auto; float:right;  right:0;">return back</a></li> -->
            <hr>

            {% endif %}

          </li>
          {% endfor %}
        </ul>
        <a onclick="showMoreList(3,'{{c.adname}}')" class="view-more-btn my-2">View more...</a>
        <!-- <button class="more-btn">View more</button> -->

      </div>
      <!-- <h5 style="padding-bottom:0; margin-bottom:0;">Postive Comments</h5>
      <hr> -->
      </div>
    </div>
    <hr>
    {%endfor%}
  </div>
</div>

</div>

<script>
  function showDiv(divNumber, adname) {
    document.getElementById("div1 " + adname).classList.add("hide");
    document.getElementById("div2 " + adname).classList.add("hide");
    document.getElementById("div3 " + adname).classList.add("hide");
    document.getElementById("div" + divNumber + " " + adname).classList.remove("hide");
  };

  function showGraph(divNum, adname) {
    document.getElementById("graph1 " + adname).classList.add("hide-graph");
    document.getElementById("graph2 " + adname).classList.add("hide-graph");
    document.getElementById("graph" + divNum + " " + adname).classList.remove("hide-graph");
  };
</script>

<script>
  function showMoreList(dataListNumber, adname) {  
    var listData = Array.prototype.slice.call(document.querySelectorAll(`#dataList${dataListNumber}${adname} li:not(.shown)`)).slice(0, 10);
  for (var i=0; i < listData.length; i++)
  {
    listData[i].className  = 'shown';
  }
  console.log(listData.length)

}
</script>
<script src="{% static 'js/index.js' %}"></script>
<script>
  $(document).ready(function() {
    $(".page-loader").hide();
});
</script>
<!-- css for ul  -->
<style>

.hidden:nth-child(n+6){
  display:none;
}
  a {
    cursor: pointer;
    color: #f00;
  }
</style>




<style>
  .hide {
    display: none;
  }

  .hide-graph {
    display: none;
  }
</style>

{% endblock %}