# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore the virtual environment directory
venv/
env/
.env

# Ignore local development settings
*.sqlite3
*.log
*.pot

# Ignore media and static files
media/
static/
**migrations/




# Ignore generated IDE configuration files
.idea/
.vscode/

# Ignore the local database
db.sqlite3

#test files 
test.py
flow.txt
install.txt

