# Ignore Python bytecode files
__pycache__/

# Ignore the virtual environment directory (if you're using one)
venv/
.env

# Ignore database files (SQLite)
db.sqlite3

# Ignore log files
*.log
*.log*
#staticfilesdir
staticfiles/

#django
**migrations/
#static/
flow.txt
install.txt
test.py
url_endpoints.py


#celery-beat
celerybeat-schedule.db

# Ignore sensitive or secret information (you should store these in environment variables)
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore compiled Python files
*.pyc

# Ignore local settings file (you should have a production-ready settings file)
local_settings.py

# Ignore backup and temporary files
*~
*.swp
*.bak
*.tmp


#celery files 
celerybeat-schedule

#this project 
*notes.txt

#JSON folder
JSON/
