{% extends "index_report.html" %}
{% block content %}
    <h2>Your User Access Token is expired!</h2>

    <br>
    <a class="btn btn-primary" href="{% url 'contact_us' %}" style="width:300px;">Contact Us</a>
    <!-- use javascript to alert user with message  -->
    <!-- This action will remove your currect access token and you may lose control over
    other functionalities of the SmartSolution apps -->
    <a href="{% url 'remove-old-access-token' %}" class="btn btn-danger">Re Submit User Acess Token</a>
{% endblock content %}