<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad Spend limit reached</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>AD Table</h2>
    <table>
        <thead>
                <tr>AD Name</th>
                <th>Current Spend</th>
                <th>Limit set</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in adlist %}
            <tr>
                <td>{{ad.ad_name}}<br><strong>({{ad.campaign_name}} | {{ad.adset_name}})</strong></td>
                <td>{{ad.ad_spend}}</td>
                <td>{{ad.ad_spend_limit}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
