<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Limit Reached</title>
</head>
<body>
    <h3>We noticed that you have exhauted facebook api calls by making too many requests. <br>
    This is nothing to worry about. Your Access token will be renewed in 30 minutes. Please <a href="{% url 'contact_us' %}">contact us</a> for any other assistance </h3>
    <p>You can read more about Facebook api Call Limit on the <a href="https://developers.facebook.com/docs/graph-api/overview/rate-limiting/">official documentations of Meta For Developer.</a></p>
</body>
</html>