@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --pimary-color: #5a9ef4;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-color: #f8f9fa;
}
::selection{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
body{
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}
a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100% !important;
  display: block;
}
input[type="checkbox"]{
  accent-color: var(--pimary-color);
  width: 20px;
  height: 20px;
}
input[type="checkbox"]+label {
  top: -5px;
  position: relative;
}
tbody tr{
  transition: .3s;
}
tbody tr:nth-child(even), tbody tr:hover{
  background-color: var(--white-color);
}
tbody tr td:first-child, tbody tr th:first-child{
  color: var(--pimary-color);
}
table a{
  background-color: var(--pimary-color);
  color: var(--white-color);
  padding: 3px 15px;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid var(--pimary-color);
}
table a:hover{
  color: var(--pimary-color);
  background-color: var(--white-color);
  text-decoration: none;
  border-color: var(--pimary-color);
}
#header{
  background-color: var(--pimary-color);
}
.navbar-brand a{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar-brand img{
  background-color: var(--white-color);
  padding: 5px;
}
.landing-section{
  min-height: calc(100vh - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-content{
  width: 100%;
}
.landing-content h1{
  color: var(--pimary-color);
}
.btn-primary:not(.btn-primary.btn-graph){
  background-color: var(--pimary-color);
  border-color: var(--pimary-color) !important;
  border-radius: 50px;
}
.btn-primary:not(.btn-primary.btn-graph):hover, .btn-primary:not(.btn-primary.btn-graph):focus{
  background-color: var(--light-color) !important;
  color: var(--pimary-color) !important;
}
.api-btn{
  width: 100%;
  max-width: 400px;
}
.username {
  font-size: 16px;
  color: var(--white-color);
  background-color: #ffffff4f;
  padding: 8px 20px;
  border-radius: 25px;
  border: 1px solid white;
  user-select: none;
  transition: .3s;
}
.username:hover{
  background-color: #ffffff63;
}
.dropdown-menu{
  max-height: 500px;
  overflow-y: auto;
}
.dropdown-menu::-webkit-scrollbar {
  width: 5px;
}
.dropdown-menu::-webkit-scrollbar-track {
  background: var(--light-color); 
}
.dropdown-menu::-webkit-scrollbar-thumb {
  background: var(--pimary-color); 
  border-radius: 5px;
}
.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: var(--black-color); 
}
.dashboard-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.set-ad-accounts, .fb-accounts{
  padding: 50px;
  border-radius: 25px;
}
.set-ad-accounts{
  background-color: var(--light-color);
  border: 1px solid var(--pimary-color);
}
.set-ad-accounts a{
  color: var(--pimary-color) !important;
}
.fb-accounts{
  background-color: var(--pimary-color);
}
.fb-accounts a{
  color: var(--white-color) !important;
}
#sidebar{
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  background-color: #e5e5e5;
  width: 250px;
  padding: 20px;
  transition: .3s;
  overflow: hidden;
}
#sidebar.hide{
  width: 0px;
  padding: 0;
}
#sidebar *{
  color: var(--pimary-color);
}
#sidebar .nav-link:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
#sidebar .nav-link:hover i{
  color: var(--white-color);
}
#main-content{
  width: calc(100% - 250px);
  height: calc(100vh - 56px);
  overflow-y: auto;
  margin-left: auto;
  padding: 20px;
  transition: .3s;
}
#sidebar.hide+#main-content{
  width: 100%;
}
#main-content .dropdown{
  position: absolute;
  top: -67px;
  right: 20px;
}
#main-content .dropdown .btn-secondary{
  background-color: var(--white-color);
  color: var(--pimary-color);
}
.content-title{
  color: var(--pimary-color);
  font-size: 30px;
  font-weight: 800;
}
thead{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.account-box{
  background-color: white;
  justify-content: center;
  display: block;
  position: inherit;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  height:100%;
  max-height: 65vh;
  overflow-y: auto;
  padding: 20px 50px;
}
.account-box::-webkit-scrollbar {
  width: 10px;
}
.account-box::-webkit-scrollbar-track {
  background: var(--light-color); 
}
.account-box::-webkit-scrollbar-thumb {
  background: var(--pimary-color); 
  border-radius: 15px;
}
.account-box::-webkit-scrollbar-thumb:hover {
  background: var(--black-color); 
}
.account-box .account-name{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:350px;
  height: 60px;
  box-shadow: 5px 4px rgb(208, 208, 241);
  border-radius:10px;
  text-align: center;
  margin: 20px auto 0;
  text-decoration: none;
  padding: 5px 25px;
}
.account-box .account-name:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.add-account-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
}
.account-img img{
  max-width: 600px !important;
}
.plotly-graph-div.js-plotly-plot{
  margin-left: auto;
  margin-right: auto;
}
.svg-container > .main-svg{
  background-color: transparent !important;
}
.main-svg .gtitle {
  display: block;
  text-align: center;
  fill: var(--pimary-color) !important;
  transform: translateX(28%);
  font-weight: 700 !important;
}
.graph-btns{
  display: flex;
  justify-content: center;
  margin-bottom: -25px;
  border-radius: 15px 15px 0 0;
  position: relative;
  overflow: hidden;
}
.graph-btns .btn{
  width: 50%;
  border-radius: 0px;
  margin: 0;
  padding: 14px 20px;
}
.graph-btns .btn.active{
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
}
.graph-img{
  max-height: 450px;
  margin: 50px auto 0;
  padding-bottom: 30px;
}
.sidebar-toggler{
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-toggler:hover, .sidebar-toggler.active{
  background-color: var(--white-color);
}
.sidebar-toggler:hover svg, .sidebar-toggler.active svg{
  fill: var(--primary-color);
}
.table-container{
  position: relative;
  overflow-x: auto;
}
.contact-section{
  height: 100vh;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.contact-container{
  height: 100vh;
  width: 100%;
  max-width: 500px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.contact-title{
  font-size: 30px;
  color: var(--pimary-color);
}
.contact-content p{
  margin: 15px 0;
  font-size: 18px;
}
.contact-content{
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.contact-content input, .contact-content textarea{
  border: 1px solid rgb(177, 177, 177);
  min-height: 40px;
  outline: none;
  border-radius: 25px;
  padding: 5px 20px;
  margin-bottom: 10px;
  width: 100% !important;
}
.contact-content input:focus, .contact-content textarea:focus{
  border-color: var(--pimary-color);
}
.contact-content button{
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--white-color);
  background-color: var(--pimary-color);
  border: 1px solid var(--pimary-color);
  transition: .3s;
  box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
}
.contact-content button:hover{
  color: var(--pimary-color);
  background-color: var(--white-color);
  cursor: pointer;
}
.comment-success, .comment-failed{
  background-color: #078507;
  color: var(--white-color);
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 15px;
}
.comment-failed{
  background-color: #ff0000;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.message-container .alert-info {
  color: #ffffff;
  background-color: #c1a9a9;
  border-color: #c1a9a9;
}
.graph-btn, .picture-btn{
  background-color: var(--pimary-color) !important;
  color: var(--white-color) !important;
  border-radius: 25px;
  margin: 0 5px;
  padding: 3px 10px;
  font-size: 15px;
}
.theme-btn{
  background-color: var(--pimary-color) !important;
  color: var(--white-color) !important;
}
.rounded-pill{
  border-radius: 25px;
}
.graph-comment-box .theme-btn{
  margin-bottom: 20px;
}
.graph-box-title{
  color: var(--pimary-color);
}
.graph-comment-box li{
  list-style: none;
}
.graph-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.graph-list li hr{
  width: 100%;
  margin: 10px 0;
}
.graph-list p{
  margin-bottom: 0;
}
.view-more-btn{
  display: block;
}
.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(112 5 5 / 26%);
}
.graph-container{
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 8px rgb(208, 208, 241);
}
.navbar .dropdown {
  margin-left: auto;
  margin-right: 10px;
}
.comments-container {
  text-align: center;
  margin: 20px 0;
  padding: 30px;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 4%);
  -moz-box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 4%);
  box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 4%);
}
.comments-container h2{
  color: var(--pimary-color);
  font-size: 35px;
}
@media screen and (max-width: 1200px){
  .account-img img {
    max-width: 400px !important;
}
}
@media screen and (max-width: 868px){
  .add-account-container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .account-img{
    order: -1;
  }
  .comments-container h2{
    font-size: 30px;
  }
}
@media screen and (max-width: 768px){
  #main-content .dropdown {
    position: relative;
    top: -15px;
    left: 0px;
  }
  .content-title{
    font-size: 25px;
  }
}
@media screen and (max-width: 577px){
  .graph-chart .plotly-graph-div{
    transform: translateX(-20%) scale(.6);
  }
  .graph-container{
    box-shadow: none;
  }
  .navbar-brand a{
    letter-spacing: 0px;
    font-size: 16px;
  }
  .navbar-brand{
    margin-right: 0px;
  }
  button.btn.btn-outline-white.dropdown-toggle {
      font-size: 14px;
  }
  .username{
    font-size: 14px;
    padding: 5px 10px;
  }
  .graph-chart{
    max-width: 300px;
  }
  .navbar .username{
    margin-left: auto;
    margin-right: auto;
  }
  .dropdown-menu{
    left: 70%;
    transform: translateX(-50%);
  }
  .comments-container h2{
    font-size: 25px;
  }
}
@media screen and (max-width: 450px){
  .dropdown-menu{
    left: -7%;
  }
}