@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --pimary-color: #700505;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-color: #f8f9fa;
}
::selection{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
body{
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Mulish', sans-serif;
  font-weight: 800;
}
a{
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100% !important;
  display: block;
}
input[type="checkbox"]{
  accent-color: var(--pimary-color);
  width: 20px;
  height: 20px;
}
input[type="checkbox"]+label {
  top: -5px;
  position: relative;
}
tbody tr{
  transition: .3s;
}
tbody tr:nth-child(even), tbody tr:hover{
  background-color: var(--white-color);
}
tbody tr td:first-child, tbody tr th:first-child{
  color: var(--pimary-color);
}
table a{
  background-color: var(--pimary-color);
  color: var(--white-color);
  padding: 3px 15px;
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid var(--pimary-color);
}
table a:hover{
  color: var(--pimary-color);
  background-color: var(--white-color);
  text-decoration: none;
  border-color: var(--pimary-color);
}
#header{
  background-color: var(--pimary-color);
}
.navbar-brand a{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.landing-content h1{
  color: var(--pimary-color);
}
.btn-primary{
  background-color: var(--pimary-color);
  border-color: var(--pimary-color) !important;
  border-radius: 50px;
}
.btn-primary:hover, .btn-primary:focus{
  background-color: var(--light-color) !important;
  color: var(--pimary-color) !important;
}
.api-btn{
  width: 100%;
  max-width: 400px;
}
.username{
  font-size: 16px;
  color: var(--white-color);
}
.dashboard-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.set-ad-accounts, .fb-accounts{
  padding: 50px;
  border-radius: 25px;
}
.set-ad-accounts{
  background-color: var(--light-color);
  border: 1px solid var(--pimary-color);
}
.set-ad-accounts a{
  color: var(--pimary-color) !important;
}
.fb-accounts{
  background-color: var(--pimary-color);
}
.fb-accounts a{
  color: var(--white-color) !important;
}
#sidebar{
  position: fixed;
  top: 56px;
  left: 0;
  height: calc(100vh - 56px);
  background-color: #e5e5e5;
  width: 250px;
  padding: 20px;
  transition: .3s;
  overflow: hidden;
}
#sidebar.hide{
  width: 0px;
  padding: 0;
}
#sidebar *{
  color: var(--pimary-color);
}
#sidebar .nav-link:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
#sidebar .nav-link:hover i{
  color: var(--white-color);
}
#main-content{
  width: calc(100% - 250px);
  height: calc(100vh - 56px);
  overflow-y: auto;
  margin-left: auto;
  padding: 20px;
  transition: .3s;
}
#sidebar.hide+#main-content{
  width: 100%;
}
#main-content .dropdown{
  position: absolute;
  top: -67px;
  right: 20px;
}
#main-content .dropdown .btn-secondary{
  background-color: var(--white-color);
  color: var(--pimary-color);
}
.content-title{
  color: var(--pimary-color);
  font-size: 30px;
  font-weight: 800;
}
thead{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.account-box{
  background-color: white;
  justify-content: center;
  display: block;
  margin: auto;
  position: inherit;
  border: 1px solid black;
  border-radius: 10px;
  max-width: 400px;
  height:100%;
}
.account-box .account-name{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:300px;
  height:50px;
  box-shadow: 5px 4px rgb(208, 208, 241);
  border-radius:10px;
  text-align: center;
  margin: 20px auto 0;
  text-decoration: none;
}
.account-box .account-name:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.sidebar-toggler{
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-toggler:hover, .sidebar-toggler.active{
  background-color: var(--white-color);
}
.sidebar-toggler:hover svg, .sidebar-toggler.active svg{
  fill: var(--primary-color);
}
.table-container{
  position: relative;
  overflow-x: auto;
}
.contact-section{
  height: 100vh;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}
.contact-container{
  height: 100vh;
  width: 100%;
  max-width: 500px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}
.contact-title{
  font-size: 30px;
  color: var(--pimary-color);
  margin-bottom: 20px;
}
.contact-content form{
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.contact-content input, .contact-content textarea{
  border: 1px solid rgb(177, 177, 177);
  min-height: 35px;
  outline: none;
  border-radius: 25px;
  padding: 5px 20px;
  margin-bottom: 10px;
  width: 100% !important;
}
.contact-content input:focus, .contact-content textarea:focus{
  border-color: var(--pimary-color);
}
.contact-content button{
  font-size: 16px;
  padding: 8px 30px;
  border-radius: 25px;
  color: var(--white-color);
  background-color: var(--pimary-color);
  border: 1px solid var(--pimary-color);
  transition: .3s;
  box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.4);
}
.contact-content button:hover{
  color: var(--pimary-color);
  background-color: var(--white-color);
  cursor: pointer;
}
.comment-success, .comment-failed{
  background-color: #078507;
  color: var(--white-color);
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 15px;
}
.comment-failed{
  background-color: #ff0000;
}
.dropdown-item:focus, .dropdown-item:hover{
  background-color: var(--pimary-color);
  color: var(--white-color);
}
.message-container .alert-info {
  color: #ffffff;
  background-color: #c1a9a9;
  border-color: #c1a9a9;
}
.graph-btn, .picture-btn{
  background-color: var(--pimary-color) !important;
  color: var(--white-color) !important;
  border-radius: 25px;
  margin: 0 5px;
  padding: 3px 10px;
  font-size: 15px;
}
.theme-btn{
  background-color: var(--pimary-color) !important;
  color: var(--white-color) !important;
}
.graph-comment-box .theme-btn{
  margin-bottom: 20px;
}
.graph-box-title{
  color: var(--pimary-color);
}
.graph-comment-box li{
  list-style: none;
}
.graph-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graph-list p{
  margin-bottom: 0;
}
.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(112 5 5 / 26%);
}
.graph-container{
  border-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 8px rgb(208, 208, 241);
}
@media screen and (max-width: 768px){
  #main-content .dropdown {
    position: relative;
    top: -15px;
    left: 0px;
  }
  .content-title{
    font-size: 25px;
  }
}
@media screen and (max-width: 577px){
  .graph-chart .plotly-graph-div{
    transform: translateX(-20%) scale(.6);
  }
  .graph-container{
    box-shadow: none;
  }
  .navbar-brand a{
    letter-spacing: 0px;
  }
  .navbar-brand{
    margin-right: 0px;
  }
  button.btn.btn-outline-white.dropdown-toggle {
      font-size: 14px;
  }
}