<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Add youtube channels in the automation.</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="input1">API Key</label>
                <input type="text" class="form-control" name="api_key" placeholder="Enter api key here">
            </div>
            <div class="form-group">
                <label for="input2">Channel Id</label>
                <input type="text" class="form-control" name="channel_id" placeholder="Enter channel Id">
            </div>
            <div class="form-group">
                <label for="input3">Channel Name</label>
                <input type="text" class="form-control" name="channel_name" placeholder="Channel Name">
            </div>
            <!-- <div class="form-group">
                <label for="input4">Input 4</label>
                <input type="text" class="form-control" id="input4" placeholder="Enter value for input 4">
            </div>
            <div class="form-group">
                <label for="input5">Input 5</label>
                <input type="text" class="form-control" id="input5" placeholder="Enter value for input 5">
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>

