<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %} Please choose an Account {% endblock %}
{% block content %}
{% block dropdown %}{%endblock%}
    <h3>{{campaign_name}}</h3>

    <div class="account-box">
        {% for a in accounts %}
        <div class="box">
            <a href="{% url 'sentiment-graph-post' a.id a.access_token %}" class="account-name">
                {{a.name}} 
            </a>
        </div> 
        {% endfor %} 
        <br>
    </div>
    {% if messages %}
    {% for message in messages %} 
    {{message }}
    {% endfor %}
    {% endif %}
{% endblock %}
